body {
  background: #f1f1f1;
}

a {
  text-decoration: none;
}

.fn-clear:after {
  clear: both;
  content: '';
  height: 0px;
  line-height: 0px;
  visibility: hidden;
}

.box-1200 {
  width: 1200px;
  margin: 0 auto;
}
